
@import "mixines";
.blog{
  .column();
  &__title{
    font-family: ChunkFive;
    color:  #000000;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
  }
  &__container{
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 220px;
    height: 206px;
    padding: 0 5%;
    margin: 0 0 5% 0;
    &--title{
      font-family: HelveticaNeue;
      color:  #2e2e2e;
      font-size: 18px;/* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      line-height: 18px;

    }
    &--data{
      font-family: HelveticaNeue;
      color:  #8a8a8a;
      font-size: 11px;/* Приближение из-за подстановки шрифтов */
      font-weight: 500;
      line-height: 18px;

    }
    &--info{
      font-family: HelveticaNeue;
      color:  #2f2f2f;
      font-size: 12px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }
    &--link{
      font-family: HelveticaNeue;
      color:  #2e2e2e;
      font-size: 12px;/* Приближение из-за подстановки шрифтов */
      font-weight: 500;
      line-height: 28px;
    }
  }
}

.gallery{
.row();
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter-button-group{
  margin: 3% 1%;
}
.button{
  font-family: HelveticaNeue;
  color:  #000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 500;
  border: none;
  background: transparent;
  text-transform: uppercase;
  &:after{
    content: "/";
    font-weight: 900;
    color:  #000000;;
  }
  &__activ{
    color:  #f03c3c;
  }
}
.mask{
  position: relative;
  &__activ{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color:  rgba(0, 0, 0, 0.75);
    width: 89%;
    .column();
    justify-content: center;
    align-items: center;
    &:hover{
      opacity: 0.7;
    }
    &--link{
      background-color:  rgba(254, 254, 254, 0.7);
      width: 38px;
      height: 37px;
      color: rgba(0, 0, 0, 0.75);
      .column();
      justify-content: center;
      align-items: center;
      &:hover{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
      }
    }

    &--container{
      .row();
      align-items: flex-end;
      width: 170px;
      height: 50px;
      font-family: HelveticaNeue;
      color:  #ffffff;
      font-size: 12px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 18px;
    }
  }

}
.info{
  .column();
  align-items: center;
}